label {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

form {
    width: fit-content;
    height: fit-content;
    background-color: antiquewhite  ;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    width: auto;
    height: fit-content;
    background-color: white;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 5px;
}